*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.heroSection{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(lightskyblue, #aef3f3);
}
.container{
    width: 900px;
    height: 600px;
    background: whitesmoke;
    position: relative;
    border-radius: 26px;
    box-shadow: 0 0 50px #04040733;
    overflow: hidden;
    margin: 20px;
}
.formbox{
    width: 50%;
    height: 100%;
    padding: 20px;
    position: absolute;
    right: 0;
    background: whitesmoke;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333;
    box-sizing: border-box;
    z-index: 10;
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
}
.container.active .formbox{
    right: 50%;
}
.formbox.register{
    visibility: hidden;
}
.container.active .formbox.register{
    visibility: visible;
}
form{
    width: 100%;
}
.container h1{
    font-size: 30px;
    margin-bottom: 10px;
}
.inputbox{
    position: relative;
    margin: 20px 0;
}
.inputbox input{
    width: calc(100% - 70px);
    padding: 12px 50px 12px 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: #eeeeee;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.inputbox input::placeholder{
    font-weight: 400;
    color: #888;
}
.inputbox i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}
.forgotbox{
    margin: 15px 0 15px;
}
.forgotbox a {
    font-size: 14px;
    text-decoration: none;
    color: #7b7b7b;
}
.btn {
    width: 100%;
    height: 50px;
    background: lightskyblue;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #04040733;
    font-size: 20px;
    font-weight: 600;
    color: #eeeeee;
    cursor: pointer;
}
.container p{
    font-size: 14px;
    margin: 20px 0;
    color: #7b7b7b;
}
.social_icons{
    display: flex;
    justify-content: center;
}
.social_icons a{
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 12px;
    font-size: 26px;
    text-decoration: none;
    color: #333;
    margin: 0 8px;
}
.togglebox{
width: 100%;
height: 100%;
position:relative;
}
.togglebox::before{
    content: '';
    width: 300%;
    height: 100%;
    position: absolute;
    left: -250%;
    background:lightskyblue;
    z-index: 20;
    border-radius: 500px;
    transition: 0.8s ease-in;
}
.container.active .togglebox::before{
    left: 50%;
}
.toggle_panel{
    width: 50%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eeeeee;
    z-index: 20;
    transition: .6s ease-in-out;
}
.toggle_panel p{
    margin-bottom: 20px;
}
.toggle_panel .btn{
    width: 200px;
    height: 50px;
    background: transparent;
    border: 2px solid #eeeeee;
    border-radius: 10px;
    box-shadow:none;
    font-size: 20px;
    font-weight: 600;
    color: #eeeeee;
    cursor: pointer;
}
.toggle_panel.right{
    right: -50%;
    transition-delay: .6s;
}
.container.active .toggle_panel.right{
    right: 0;
    transition-delay: 1.2s;
}
.toggle_panel.left{
    left: 0;
    transition-delay: 1.2s;
}
.container.active .toggle_panel.left{
    left: -50%;
    transition-delay: .6s;
}

@media screen and (max-width:650px){
    .container{
        height: calc(100vh-40px);
    }

    .formbox{
        width: 100%;
        height: 70%;
        bottom: 0;
    }

    .container.active .formbox{
        right: 0;
        bottom: 30%;
    }

    .togglebox::before{
        width: 100%;
        height: 300%;
        left: 0;
        top: -270%;
        border-radius: 20vw;
    }

    .container.active .togglebox::before{
        top: 70%;
        left: 0;
    }

    .toggle_panel{
        width: 100%;
        height: 30%;
    }

    .toggle_panel.left{
        top: 0;
    }

    .container.active .toggle_panel.left{
        left: 0;
        top: -30%;
    }

    .toggle_panel.right{
        right: 0;
        bottom: -30%;
    }

    .container.active .toggle_panel.right{
        bottom: 0;
    }
}

@media screen and (max-width:400px) {
    .formbox {
        padding: 20px;
    }

    .toggle_panel h1 {
        font-size: 28px;
    }

}